body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #26941f;
}

.demo:hover .gridster {
    margin: 0 auto;
    opacity: .8;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.content {
    color: white;
}

.gridster .gs-w {
    cursor: move;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: #BBB;
}

.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;
}

.gridster .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: red !important;
}

.gridster {
    background-color: #EFEFEF;
}

.gridster > div {
    /* font-size: 1em; */
    /* font-weight: bold; */
    /* text-align: center; */
    line-height: 100%;
    padding: 0.3rem;
}

.gridster-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.gs-remove-handle {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACmSURBVDhP7dNNDoIwEIbhOYjiIRASVkYg3H+vMdwB6Fb7kZkotT9Mt/omLNoOT+gC+kfm2pzMcD7yMthyqQ+mLwte+sPA1FaPuavvMRQYZjCLD+Dt72TQPs8Qumdmk/sC1nykxyQfmo1JDjDyk4dJjAq0wtkY8oHY42NdsSurUQdbAVz1vVfddqM+jI9IjcYwSYV+/nqxQUGTvx4CmryKDWgS+4WIXmFO3sZEYTYaAAAAAElFTkSuQmCC');
    background-position: bottom left;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 20;
}

.gs-w:hover .gs-remove-handle {
    opacity: 1;
}

.gs-w.resizing .gs-remove-handle,
.gs-w.dragging .gs-remove-handle {
    opacity: 0;
}

.controls {
    margin-bottom: 20px;
}

.grid-footer {
    margin: 60px 0;
    text-align: center;
  }

.grid-footer .btn .material-icons {
    margin-right: 10px;
    font-size: 24px;
  }

.grid-footer .btn {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    background: #4a9ff9;
    color: #fff;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
  }
.grid-footer .btn:focus,
.grid-footer .btn:hover,
.grid-footer .btn:active {
    outline: 0;
  }
.grid-footer .btn:hover {
    background: #3989de;
  }
.grid-footer .btn:active {
    background: #3075bf;
  }
.grid-footer .btn.active {
    background: #60ca47;
  }
.grid-footer .btn.active:hover {
    background: #40b325;
  }
.grid-footer .btn.active:active {
    background: #309818;
  }