/*浠ヤ笅鏄痮ee鏂版ā鏉块〉闈㈢殑css浠ｇ爜锛宻tart*/
* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
}
/*::-webkit-scrollbar{
    display:none;
}*/
body {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    width: 100%;
}
html, body {
    height: 100%;
}
/*.top {
    width: 100%;
    height: 50px;
    background-color: #222;
    margin-bottom: 1px;
}*/
.fullpagearea {
    width: 99.8%;
    /*    杩欎釜瀵逛簬搴曠嚎瀵瑰叾寰堥噸瑕�*/
    /*    height: calc(100% - 56px);*/
    height: 100%;
    margin: 0 auto;
}
.fullpagoutbox {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}
/*
.fullpagearea .fullpagoutbox .nav {
    height: 38px;
    line-height: 38px;
    padding-left: 16px;
    overflow: hidden;
}
.fullpagearea .fullpagoutbox .nav .nav-ul{
    width: 100%;
    height: 100%;
}
.fullpagearea .fullpagoutbox .nav .nav-ul li{
    width: 140px;
    height: 100%;
!*    border-right: 1px solid red;*!
    display: inline-block;
    background-color: snow;
    border-radius: 7px;
    padding-left: 5px;
    position: relative;
}
.fullpagearea .fullpagoutbox .nav .nav-ul li .fa-times{
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #c0c0c0;
}
.fullpagearea .fullpagoutbox .nav .nav-ul li .fa-times:hover{
    font-size: 19px;
    color: black;
}
*/
.fullpagearea .fullpagoutbox .containerarea {
    margin-left: 17px;
    width: calc(100% - 16px);
    /*    杩欎釜瀵逛簬搴曠嚎瀵瑰叾寰堥噸瑕�*/
    /*    height: calc(100% - 40px);*/
    height: 100% ;
    position: relative;
    z-index: 9;
}
.fullpagearea .fullpagoutbox .containerarea .leftBefore{
    width:17px;
    height: 30px;
    /* background-color: red;*/
    position: absolute;
    top: 35%;
    left: -17px;
    cursor: pointer;
}
.fullpagearea .fullpagoutbox .containerarea .leftBefore .show-icon{
    font-size: 18px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color:#c0a16b;
    display: none;
    /*    position: absolute;
        left: -5px;*/
}
.fullpagearea .fullpagoutbox .containerarea .leftBefore .hide-icon{
    font-size: 18px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color:#c0a16b;
}
.fullpagearea .fullpagoutbox .containerarea .containerleft {
    position: absolute;
    height: 100%;
    /*  璁剧疆涓哄彧鏈塗1鐨勫搴�*/
    width: 275px;
    left: 0;
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;
}
.containerleft .searchInput {
    margin-top: 8px;
    position: relative;
    width: 100%;
    height: 28px;
    /*  border-bottom: 1px solid black;*/
}
.containerleft .searchInput .btn-group{
    position: absolute;
    top: 0;
    left: 5px;                   ;
    width:105px !important;
    height: 100%;
    background: none;
}
.containerleft .searchInput .btn-group button{
    background-color: snow;
    width:  100%;
    height: 100%;
    padding-left: 0;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    position: relative;
    left:-5px;
}
.containerleft .searchInput .btn-group button .filter-option{
    padding-left: 10px;
    line-height: 100% ;
    font-family: 瀹嬩綋;
    font-size: 14px;
}
.containerleft .searchInput .btn-group #selectChoose {
    width: 100px;
    height: 20px;
    position: relative;
    top: 30px;
    left: 30px;
}
.containerleft .searchInput .btn-group #selectBox{
    width: 100px;
    position: absolute;
    left: 85px;
    top:55px;
}
.containerleft .searchInput .btn-group #selectBox ul {
    padding: 0;
    border-top:1px solid  black;
    border-right:1px solid  black;
    border-left:1px solid  black;
    list-style: none;
    width: 100%;
}
.containerleft .searchInput .btn-group #selectBox ul li{
    width: 100%;
    border-bottom: 1px solid  black;
}
.containerleft .searchInput .btn-group button .filter-option .bs-caret{
    position: absolute;
    right: 2px;
}
.containerleft .searchInput .btn-group .dropdown-menu{
    width:  100%;
    margin-left: -5px;
    overflow-y: scroll;
}
.containerleft .searchInput .btn-group .dropdown-menu::-webkit-scrollbar {
    display: none;
}
.containerleft .searchInput .iconarea{
    height: 100%;
    /* border: 1px solid black;*/
    position: absolute;
    right: 10px;
    top: 0;
}
.containerleft .searchInput .iconarea .fa{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    border:1px solid black;
    border-radius: 4px  ;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
    color: black;
    background-color: #c0a16b;
    background-color: lightgoldenrodyellow;
}
.containerleft .searchInput .arrow-down-Open{
    width: 100px;
    /*    background-color: red;*/
    position: absolute;
    top: 29px;;
    right: 0px;
    background-color: snow;
    z-index: 999;
    display: none;
}
.containerleft .searchInput .arrow-down-Open ul{
    list-style: none;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.containerleft .searchInput .arrow-down-Open ul li{
    height: 25px;
    list-style: none;
    line-height: 25px;
    padding-left: 5px;
    color: black;
    box-sizing: border-box;
}
.containerleft .searchInput .arrow-down-Open ul li:hover{
    /* background-color: #c0c0c0; */
    background-color:#c8e5bc;
}
.containerleft .searchInput .arrow-down-Open ul li a{
    color: black;
    text-decoration: none;
}
.containerleft .form-box{
    border-top: 1px solid black;
    margin-top:8px;
    width: 100%;
    height: calc(100% - 81px);
    /*    border-bottom: 1px solid red;*/
}
.containerleft .searcharea {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.containerleft .searcharea::-webkit-scrollbar {
    display: none;
}
.containerleft  .form-box .searcharea  .siteOutbox{
    width: 275px;
    height: 100%;
    /*    overflow: hidden !important; */
}
.containerleft  .form-box .searcharea  .siteOutbox .everySite{
    width:275px;
    height: 100%;
    /* display: none;*/
    float: left;
    /*    overflow-y: scroll;*/
    /*     overflow-y: scroll; */
}
.containerleft  .form-box .searcharea  .siteOutbox .everySite::-webkit-scrollbar {
    /*  display: none;*/
}
.containerleft .bottom-searchButton {
    border-top: 1px solid #8c8c8c;
    width: 100%;
    height:37px;
    position: absolute;
    bottom: 0;
}
.containerleft  .bottom-searchButton button {
    text-align: center;
    width: 80px;
    height:30px;
    font-size: 15px;
    position: absolute;
    background-color: #3385ff;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    top: 3px;
    right: 21px;
    font-weight: normal;
    line-height: 30px;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 5px;
    /*    font-family: inherit;*/
    font-family:瀹嬩綋;
    color: #fff;
    border-color: #2e6da4;
    border-bottom: 1px solid #2d78f4;
    /* add margin-right by makeqiang 2018-3-29 09:12:02  */
    margin-right: 14px;
}
.containerleft  .bottom-searchButton button:hover{
    background-color: #317ef3;
    border-bottom: 1px solid #2868c8;
    -moz-box-shadow: 1px 1px 1px #CCCCCC;
}
.fullpagearea .fullpagoutbox .containerarea .containerMiddle {
    height: 100%;
    width: 12px;
    position: absolute;
    /* background-color: blue;*/
    z-index: 99;
    left: 275px;
    /*  //250+2+4*/
}
.fullpagearea .fullpagoutbox .containerarea .containerMiddle .innerbox {
    height: 100%;
    width: 3px;
    /*    background-color: blueviolet;*/
    border-radius: 50%;
    z-index: 998;
    box-sizing: border-box;
    margin: 0 auto;
}
.fullpagearea .fullpagoutbox .containerarea .containerMiddle .innerbox .glyphicon-Outbox{
    width: 15px;
    height: 20px;
    /*    background-color: red;*/
    z-index: 8;
    position: absolute;
    top: 0px;
    left: 0px;
}
.fullpagearea .fullpagoutbox .containerarea .containerMiddle .innerbox .glyphicon-Outbox .glyphicon{
    font-size: 13px;
    color: #ce8483;
}
.fullpagearea .fullpagoutbox .containerarea .containerMiddle:hover {
    cursor: w-resize;
}
.fullpagearea .fullpagoutbox .containerarea .containerRight {
    position: absolute;
    height: 100%;
    width: calc(100% - 275px - 2px - 12px);
    border-radius: 6px;
    left: calc(275px + 12px);
}
.containerRight .allContent {
    width: 100%;
    height: 100%;
}
.containerRight .allContent .topContent {
    width: 100%;
    height: 100%;
}
.containerRight .allContent .topContent .container {
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
.containerRight .allContent .topContent .container .row {
    width: 100%;
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
}
.containerRight .allContent .topContent .container .row::-webkit-scrollbar {
    display: none;
}
.containerRight .allContent .topContent .container .row .everyBox {
    height: 100%;
    padding-right: 0;
    margin-bottom: 10px;
}
.containerRight .allContent .topContent .container .row .everyBox .boxarea {
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.containerRight .allContent .topContent .container .row .everyBox .boxarea .tittle {
    width: 100%;
    height: 25px;
    background-color:darkkhaki;
    background-color: #81cdee;
    line-height: 25px;
}
.containerRight .allContent .topContent .container .row .everyBox .boxarea .tittle .fa{
    margin-left: 5px;
}
.containerRight .allContent .topContent .container .row .everyBox .boxarea .tittle .icon {
    float: right;
    padding: 2px;
    position: relative;
    top: 3px;
    right: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    transition: all 0.3s;
}
.containerRight .allContent .topContent .container .row .everyBox .boxarea .tittle .icon:hover {
    /*    background-color: #FFFFFF;*/
    transform: scale(1.2);
}
.containerRight .allContent .topContent .container .row .everyBox .boxarea .tittle .icon:before {
    content: "\e140";
}
.containerRight .allContent .topContent .container .row .everyBox .boxarea .echarts-Area{
    width: 100%;
    height:calc( 100% - 25px);
    /* overflow-x: scroll;*/
}
.containerRight .allContent .bottomContent {
    width: 100%;
    height: 32%;
}
.containerRight .allContent .bottomContent .container {
    width: 100%;
    height: 100%;
    /*    border-top: 2px solid hotpink;*/
    /*    padding-left: 0;鏈�缁堝喅瀹�*/
    padding-left: 0;
    padding-right: 0;
}
.containerRight .allContent .bottomContent .container .row {
    width: 100%;
    height: 100%;
    /*    border-bottom: 1px solid hotpink;*/
    margin-right: -15px;
    margin-left: -15px;
}
.containerRight .allContent .bottomContent .container .row .excel {
    height: 100%;
    /*       border:1px solid black;*/
    padding-right: 0;
    padding-right: 0;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea {
    border: 1px solid black;
    border-radius: 6px;
    height: 100%;
    /*涓轰簡娑堥櫎鍦嗚铏氱嚎*/
    overflow: hidden;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .tittle {
    width: 100%;
    height: 25px;
    /*    border: 1px solid red;*/
    line-height: 25px;
    /*  background-color: darkkhaki;*/
    background-color: #81cdee;
    position: relative;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .tittle .fa-lg{
    padding-left: 5px;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .tittle  .excel-icon-outbox{
    height: 100%;
    width: 50px;
    float: right;
    right: 14px;
    position: absolute;
    top: 0;
    right:10px;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .tittle .excel-icon-outbox .fa-file-excel-o {
    position: relative;
    color: green;
    top: 1px;
    right:-15px;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    margin: 0 auto ;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .tittle .excel-icon-outbox .icon {
    float: right;
    padding: 2px;
    position: relative;
    top: 3px;
    right: -7px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    transition: all 0.3s;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .tittle .excel-icon-outbox .icon:hover {
    /*   background-color: #FFFFFF;*/
    transform: scale(1.2);
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .tittle .excel-icon-outbox .icon:before {
    content: "\e140";
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .table-Area{
    width: 100%;
    height: calc(100% - 26px);
    overflow-y:scroll ;
    /*  楂樺害鐢卞唴瀹规拺寮�*/
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .table-Area::-webkit-scrollbar {
    /*婊氬姩鏉℃暣浣撴牱寮�*/
    width: 14px;     /*楂樺鍒嗗埆瀵瑰簲妯珫婊氬姩鏉＄殑灏哄*/
    height: 5px;
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .table-Area::-webkit-scrollbar-thumb {
    /*婊氬姩鏉￠噷闈㈠皬鏂瑰潡*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0.5,0.5,0.5,0.2);
    background: rgba(0,0,0,0.2);
}
.containerRight .allContent .bottomContent .container .row .excel .excelarea .table-Area::-webkit-scrollbar-track {
    /*婊氬姩鏉￠噷闈㈣建閬�*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.fullpagearea .fullpagoutbox .containerarea .openPage{
    width:calc(100% - 17px);
    height: 100%;
    position: absolute;
    display: none;
    z-index: 0;
    left: 0;
    top: 0;
    border: 1px solid black;
    border-radius: 4px;
    background: url(../img/topbg.png) #fff !important;
}
.fullpagearea .fullpagoutbox .containerarea .openPage  .openPage-top{
    position: relative;
    padding-left: 20px;
    height: 30px;
    width: 100%;
    background-color: #81cdee;
}
.fullpagearea .fullpagoutbox .containerarea .openPage  .openPage-top .top-tittle{
    font-size: 16px;
    color: #333;
    line-height: 30px;
    font-weight: 700;
}
.fullpagearea .fullpagoutbox .containerarea .openPage  .openPage-top   .closespan{
    width: 28px;
    height: 100%;
    font-size: 28px;
    color: black;
    line-height: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.fullpagearea .fullpagoutbox .containerarea .openPage  .openPage-top   .closespan:hover{
    color: orangered;
}
.fullpagearea .fullpagoutbox .containerarea .openPage  .openPage-body{
    height:calc(100% - 30px);
}
/*oee鏂版ā鏉块〉闈㈢殑css浠ｇ爜锛宱ver*/
/*浠ヤ笅鏄ā鏉縝utton鍖哄煙鐨勬牱寮忎唬鐮侊紝瑕佹眰杩欎釜浠ｇ爜鍙互鐙珛鍑烘潵锛屾牱寮忓彲浠ュ拰缁撴瀯涓�璧峰紩鍏�*/
.Button-template{
    /* 缁ф壙site鐨勫搴�*/
    width: 100% !important;
}
.Button-template .bigTittle, .Button-template .bigTittle{
    height: 28px;
    /* border-bottom: 1px solid black;*/
    line-height: 28px;
    font-size: 16px;
    padding-left: 10px;
    font-family: 瀹嬩綋;
}
.Button-template  .allButton{
    width: 100%;
    /*    杩欓噷鐨勯珮搴﹁鍐呭鑷繁鎾戝紑鎶�*/
}
.Button-template  .allButton .allButton-text{
    width: 38%;
    float: left;
}
.Button-template   .allButton .allButton-button{
    width:60%;
    /*    闃叉娴姩涓嬪幓*/
    float: left;
}
.Button-template  .allButton .allButton-text .everyOutbox-left{
    /*    border: 1px solid black;*/
    border-left: 0;
    height: 25px;
    margin-top: 5px;
}
.Button-template   .allButton .allButton-text .everyOutbox-left .fa{
    margin-left: 7px;
    font-size: 14px;
    color: #8a6d3b;
    line-height: 25px;
}
.Button-template  .allButton .allButton-text .everyOutbox-left .theme{
    margin-left: 5px;
    font-size: 14px !important;
    line-height: 30px;
    font-weight: normal;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Button-template   .allButton .allButton-button .everyOutbox-right{
    /*   border: 1px solid black;*/
    border-left: 0;
    height: 25px;
    margin-top: 5px;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group{
    width: 147px;
    /*  margin-left: 5px;*/
    height: 100%;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group .bootstrap-select{
    height: 100%;
    width: 100%;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group   button{
    height: 100%;
    width:100%;
    background-color: snow;
    position: relative;
    line-height: 100%;
    font-size: 12px;
}
.Button-template  .allButton .allButton-button .everyOutbox-right .btn-group button:hover{
    background-color: #c8e5bc;
}
.Button-template  .allButton .allButton-button .everyOutbox-right .btn-group button:active{
    border: 2px solid dodgerblue;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group   input{
    background-color: snow;
}
.Button-template  .allButton .allButton-button .everyOutbox-right .btn-group button:hover{
    background-color: #c8e5bc;
}
/*濡傛灉鏄崟閫夋锛坆utton+ul妯″紡锛夌殑璇濓紝鏍峰紡濡備笅锛�*/
/*濡傛灉鏄崟閫夋锛坆utton+ul妯″紡锛夌殑璇濓紝鏍峰紡濡備笅锛�*/
/*濡傛灉鏄崟閫夋锛坆utton+ul妯″紡锛夌殑璇濓紝鏍峰紡濡備笅锛�*/
.Button-template  .allButton .allButton-button .everyOutbox-right .btn-group .inner{
    /*  width: 147px !important;*/
    width: 147px;
    min-width: 147px;
    max-height: 160px !important;
    overflow-y: scroll !important;
}
.Button-template  .allButton .allButton-button .everyOutbox-right .btn-group .TXToutBox{
    height: 100%;
    font-size: 12px;
    top:3px;
    bottom:0;
    margin:auto;
    font-family: 寰蒋闆呴粦;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group .TXToutBox .font{
    height: 100%;
    line-height: 100%;
    font-size: 12px;
    position: absolute;
    left: 11px;
    font-family: sans-serif;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group .TXToutBox .caret{
    font-size: 12px;
    height: 100%;
    line-height: 100%;
    position: absolute;
    right:11px;
    top: 10px;
}
/*濡傛灉鏄閫夋锛坥potion妯″紡锛夌殑璇濓紝鏍峰紡濡備笅*/
/*濡傛灉鏄閫夋锛坥potion妯″紡锛夌殑璇濓紝鏍峰紡濡備笅*/
/*濡傛灉鏄閫夋锛坥potion妯″紡锛夌殑璇濓紝鏍峰紡濡備笅*/

.Button-template  .allButton .allButton-button .everyOutbox-right .btn-group .inner{
    width: 147px !important;
    /*   !*涓嶇劧100鏉＄嚎鎬庝箞鍔�*!*/
    max-height: 160px !important;
    overflow-y: scroll !important;;
    /*    border: 1px solid  red;*/
    padding-bottom: 0;
}
.Button-template  .allButton .allButton-button .everyOutbox-right .btn-group .dropdown-menu ul li a{
    padding-left: 8px;
    font-size: 12px;
    font-family: inherit !important;
    font-weight: normal  !important;
}
/*濡傛灉鏄閫夊崟閫夊垏鎹㈡锛堝江娑涙ā寮忥級鐨勮瘽锛屾牱寮忓涓�*/
/*濡傛灉鏄閫夊崟閫夊垏鎹㈡锛堝江娑涙ā寮忥級鐨勮瘽锛屾牱寮忓涓�*/
/*濡傛灉鏄閫夊崟閫夊垏鎹㈡锛堝江娑涙ā寮忥級鐨勮瘽锛屾牱寮忓涓�*/
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group{
    /*    overflow: hidden;*/
}

/*濡傛灉鏃ュ櫒鎺т欢锛堝寘鎷棩鍛ㄦ湀锛夌殑璇濓紝鏍峰紡濡備笅*/
/*濡傛灉鏃ュ櫒鎺т欢锛堝寘鎷棩鍛ㄦ湀锛夌殑璇濓紝鏍峰紡濡備笅*/
/*濡傛灉鏃ュ櫒鎺т欢锛堝寘鎷棩鍛ㄦ湀锛夌殑璇濓紝鏍峰紡濡備笅*/
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  input{
    height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width: 100% !important;
    padding-left: 8px;
    font-size: 12px;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  input:hover{
    background-color: #c8e5bc;
}
/*鏃ユ湡鎺т欢璁剧疆鏍峰紡*/
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .dailyBox{
    height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width: 100% !important;
    /*    padding-left: 8px*/;
    font-size: 12px;
    position: relative;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .dailyBox input{
    height: 100% !important;
    line-height: 100% !important;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .monthlyBox{
    height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width: 100% !important;
    padding-left: 8px;
    font-size: 12px;
    position: relative;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .monthlyBox input{
    height: 100% !important;
    line-height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width: 100% !important;
    position: absolute;
    left: 0;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .monthlyBox  button{
    width:60px;
    height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width:60px;
    position: absolute;
    left: 60px;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .weeklyBox{
    height: 100% !important;
    width: 100% !important;
    padding-left: 8px;
    font-size: 12px;
    position: relative;
}

.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .weeklyBox input{
    height: 100% !important;
    line-height: 100% !important;
    width: 50% !important;
    position: absolute;
    left: 0;
}
/*涓嬮潰杩欎釜button鏍峰紡鏄釜浜烘祴璇曟牱寮忥紝渚涢」鐩鐢ㄦ柟妗�*/
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .weeklyBox  button{
    height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width:50% !important;
    position: absolute;
    left: 50%;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .weeklyBox .select-outbox{
    position: absolute;
    left:50%;
    width:50%;
    height:100%;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .weeklyBox .select-outbox .dropdown-menu{
    width:100% !important;
    min-width:100% !important;
    max-height:100% !important;
    overflow:hidden !important;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .weeklyBox  .select-outbox button{
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    left: 0%;
}

.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .weeklyBox  .select-outbox button:hover{
    background-color: #c8e5bc;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .shiftlyBox{
    height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width: 100% !important;
    padding-left: 8px;
    font-size: 12px;
    position: relative;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .shiftlyBox input{
    height: 100% !important;
    line-height: 100% !important;
    width: 68% !important;
    position: absolute;
    left: 0;
}
/*涓嬮潰杩欎釜button鏍峰紡鏄釜浜烘祴璇曟牱寮忥紝渚涢」鐩鐢ㄦ柟妗�*/
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .shiftlyBox  button{
    height: 100% !important;
    /* 蹇呴』鍔爄mportant*/
    width:32% !important;
    position: absolute;
    left:68%;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .shiftlyBox .select-outbox{
    position: absolute;
    width:32%;
    height:100%;
    left:68%;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .shiftlyBox .select-outbox button{
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    left: 0%;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .shiftlyBox .select-outbox .btn-group .dropdown-menu{
    /*  涓轰簡瑙ｅ喅涓嬫媺椤瑰湪ie涓嬫拺寮�宸﹁竟鐨勯棶棰� */
    width:100% !important;
    min-width:100% !important;
    overflow:hidden !important;
}
.Button-template   .allButton .allButton-button .everyOutbox-right .btn-group  .shiftlyBox .select-outbox button:hover{
    background-color: #c8e5bc;
}
/*checkbox鏍峰紡浠ｇ爜*/
.Button-template   .allButton .allButton-button .everyOutbox-right .checkboxInput{
    width: 16px !important;;
    height: 16px !important;;
    margin-top: 9px !important;;
    background-color: snow !important;
}
/*glass summar绫诲瀷椤甸潰搴曢儴layer鑳屾櫙棰滆壊*/
.bottomContent .container .row .excel .ag-theme-blue{
    background-color: #F6F6F6 !important;
}
/*浠ヤ笂鏄痓utton妯℃澘鏍峰紡浠ｇ爜*/

/*weekly鏍峰紡淇*/
.weekly-fix{
    padding-left:2px;
    background: #fff;
    border: 1px solid #ccc;
}